@using TLD14.Utils
@using TLD14.Localizations
@model Models.Project

<div id="@Model.Key" class="project" lang="@Context.GetRequestLanguage()">
    <div class="project-image-container">
        <a asp-page="/Project" asp-route-code="@Model.Key">
            <img class="project-image" src="@Model.Image" alt="@Model.ImageAlt" />
        </a>
        <div class="project-image-overlay-division"
             data-tooltip="@Model.DivisionFull">
            @Model.DivisionKey.ToUpper()
        </div>

        @if (Model.ReleaseDate.HasValue)
        {
            <div class="project-image-overlay-date">
                @Model.ReleaseDate?.ToString("yyyy/MM/dd")
            </div>
        }
    </div>

    <a asp-page="/Project" asp-route-code="@Model.Key" class="project-title">
        <b>@Model.Name</b>
    </a>
    <div class="project-description">
        @Model.DescriptionShort
    </div>

    <div class="project-buttons-container">
        @foreach (var link in Model.Links)
        {
            <a class="link-container" href="@link.Value">
                <div class="link-container-language">
                    @IconHelper.GetLanguage(@link.Key)
                </div>
                <img class="project-button"
                     src="@IconHelper.GetIcon(@link.Key)"
                     alt="@link.Key" />
            </a>
        }
    </div>
</div>